
nakayama/nakayama/__pycache__
nakayama/iscrizioni/__pycache__
db.sqlite3
sqlite3.db
nakayama/db.sqlite3
nakayama/iscrizioni/migrations/*
.idea/misc.xml
nakayama/media/fototessere/
venv

# Python # 
*.py[cod] 
*$py.class 
workspace.xml
.dat.nosynca308.sevaxO
